<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.myhealthmate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.android.myhealthmate.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.myhealthmate.SignIn"
            android:label="@string/welcome" >
        </activity>
        <activity
            android:name="com.android.myhealthmate.SignUp"
            android:label="@string/welcome" >
        </activity>
        <activity
            android:name="com.android.myhealthmate.test"
            android:label="@string/test" >
        </activity>
        <activity
            android:name="com.android.myhealthmate.MainPage"
            android:label="@string/welcome" >
        </activity>
        <activity
            android:name="com.android.myhealthmate.Profile"
            android:label="@string/welcome" >
        </activity>
        <activity
            android:name="com.android.myhealthmate.HrDetail"
            android:label="@string/welcome" >
        </activity>
        <activity
            android:name="com.android.myhealthmate.BpDetail"
            android:label="@string/welcome" >
        </activity>
        <activity
            android:name="com.android.myhealthmate.ActDetail"
            android:label="@string/welcome" >
        </activity>
        <activity
            android:name="com.android.myhealthmate.SleDetail"
            android:label="@string/welcome" >
        </activity>
        <activity
            android:name="com.android.myhealthmate.Reminder"
            android:label="@string/welcome" >
        </activity>
        <activity
            android:name="com.android.myhealthmate.RecContent"
            android:label="@string/welcome" >
        </activity>
        <activity
            android:name="com.android.myhealthmate.Settings"
            android:label="@string/welcome" >
        </activity>
    </application>

</manifest>